<div class="container">
    <div class="row">
        <div class="col-xl-12" style="background-color: black">
            <div class="row">
                <div class="col-xl-12 text-right">
                    <button type="button" class="btn btn-primary tooltip" (click)="onSaveClick()">
                        <span class="tooltiptext">Save this design</span>
                        <i class="fa fa-save" aria-hidden="true"></i> Save</button>
                    <button type="button" class="btn btn-danger tooltip" (click)="confirmClear()">
                        <span class="tooltiptext">Clear canvas</span>
                        <i class="fa fa-ban" aria-hidden="true"></i> Clear</button>
                    <button type="button" class="btn btn-danger tooltip" (click)="onLogoutClick();">
                        <span class="tooltiptext">Logout</span>
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3">
            <div class="card text-white bg-dark" style="background-color: black">
                <div class="card-header" style="background-color: black">Saved Designs</div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group">
                            <select *ngIf="previousFileListLoaded && previousFiles.length" class="form-control form-control-sm" (change)="fileSelected($event)">
                                <option value="" selected="!SelectedFileName">Select Design</option>
                                <option *ngFor="let fileName of previousFiles" [value]="fileName">{{fileName}}</option>
                            </select>
                            <span *ngIf="previousFileListLoaded && previousFiles.length === 0"> No previous files.</span>
                            <span *ngIf="!previousFileListLoaded && previousFiles.length === 0">Please wait...
                                <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card text-white bg-dark" style="background-color: black">
                <div class="card-header" style="background-color: black">Add text</div>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Your text here." [(ngModel)]="textString">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <button id="add-text" class="btn btn-primary tooltip" (click)="addTextToCanvas()">
                                    <span class="tooltiptext">Add this text</span>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <div class="card text-white bg-dark" style="background-color: black">
                <div class="card-header" style="background-color: black">Add image</div>
                <div class="card-body text-center">
                    <img style='max-width:100px; max-height:100px' id="testImage" *ngFor="let url of urlList" class="images-item-upload" [src]="url"
                        (click)="addImageToCanvas(url);">
                    <input id="menu-open-file" type="file" (change)="readFileUrl($event);">
                    <br/>
                    <br/>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-danger btn-sm tooltip" (click)="removeImages()">
                                <span class="tooltiptext">Remove all the selected files</span>
                                <i class="fa fa-times" aria-hidden="true"></i> Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <div class="col-xl-6" style='height:500px'>
            <div style='height:450px; background: grey'>
                <canvas id="canvas"></canvas>
            </div>
            <div class="text-center" style="background: black">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-outline-danger tooltip"
                        [disabled]="!selected" (click)="removeSelectedItem();">
                        <span class="tooltiptext-top">Remove</span>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-outline-primary tooltip"
                        [disabled]="!selected" (click)="sendItemToBack();">
                        <span class="tooltiptext-top">Send to back</span>
                        <i class="fa fa-level-down" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-outline-primary tooltip"
                        [disabled]="!selected" (click)="bringItemToFront();">
                        <span class="tooltiptext-top">Bring to Front</span>
                        <i class="fa fa-level-up" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-outline-primary tooltip" [disabled]="!selected || selected.type == 'group'"
                        (click)="cloneItem();">
                        <span class="tooltiptext-top">Copy</span>
                        <i class="fa fa-clone" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-outline-primary tooltip" [disabled]="!selected"
                        (click)="removeSelection()">
                        <span class="tooltiptext-top">Remove Selection</span>
                        <i class="fa fa-remove" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card text-white bg-dark" style="background-color: black">
                <div class="card-header" style="background-color: black">Current Item</div>
                <div class="card-body">
                    <div class="custom-item" *ngIf="selected  && selected.type == 'group'">Group Selected</div>
                    <div class="custom-item" *ngIf="!selected">No items are selected currently</div>
                    <div class="custom-item" *ngIf="selected && textEditor">
                        <div class="custom-item-title">Text Style-:</div>
                        <div class="custom-item-body text-center">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-primary btn-sm tooltip" [ngClass]="{'active': props.fontWeight }" (click)="setBold()">
                                    <span class="tooltiptext-top">Bold</span>
                                    <i class="fa fa-bold"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm tooltip" [ngClass]="{'active': props.fontStyle }" (click)="setFontStyle()">
                                    <span class="tooltiptext-top">Italics</span>
                                    <i class="fa fa-italic"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm tooltip" [ngClass]="{'active': hasTextDecoration('underline') }" (click)="setTextDecoration('underline')">
                                    <span class="tooltiptext-top">Underline</span>
                                    <i class="fa fa-underline"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm tooltip" [ngClass]="{'active': hasTextDecoration('overline') }" (click)="setTextDecoration('overline')">
                                    <span class="tooltiptext-top">Overline</span>
                                    <i class="fa fa-underline fa-flip-vertical"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm tooltip" [ngClass]="{'active': hasTextDecoration('line-through') }" (click)="setTextDecoration('line-through')">
                                    <span class="tooltiptext-top">Strike through</span>
                                    <i class="fa fa-strikethrough"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="custom-item" *ngIf="selected && textEditor">
                        <div class="custom-item-title">Font family-:</div>
                        <div class="custom-item-body">
                            <select [(ngModel)]="props.fontFamily" class="form-control" (change)="setFontFamily()">
                                <option value="arial">Arial</option>
                                <option value="helvetica" selected>Helvetica</option>
                                <option value="verdana">Verdana</option>
                                <option value="courier">Courier</option>
                                <option value="Roboto">Roboto</option>
                                <option value="Open Sans">Open Sans</option>
                                <option value="Zilla Slab">Zilla Slab</option>
                                <option value="Lato">Lato</option>
                                <option value="Bellefair">Bellefair</option>
                                <option value="Fresca">Fresca</option>
                                <option value="Raleway">Raleway</option>
                                <option value="Open Sans Condensed">Open Sans Condensed</option>
                                <option value="Indie Flower">Indie Flower</option>
                                <option value="Josefin Sans">Josefin Sans</option>
                                <option value="Inconsolata">Inconsolata</option>
                                <option value="Pacifico">Pacifico</option>
                                <option value="Gloria Hallelujah">Gloria Hallelujah</option>
                            </select>
                        </div>
                    </div>
                    <div class="custom-item" *ngIf="selected && textEditor">
                        <div class="custom-item-title">Font Size-:</div>
                        <div class="custom-item-body">
                            <input type="range" [(ngModel)]="props.fontSize" (change)="setFontSize()" step="1" min="1" max="120">{{props.fontSize}}</div>
                    </div>
                    <div class="custom-item" *ngIf="selected && textEditor">
                        <div class="custom-item-title">Line Height-:</div>
                        <div class="custom-item-body">
                            <input type="range" [(ngModel)]="props.lineHeight" (change)="setLineHeight()" step="0.1" min="0" max="10">{{props.lineHeight}}</div>
                    </div>
                    <div class="custom-item" *ngIf="selected && textEditor">
                        <div class="custom-item-title">Character Spacing-:</div>
                        <div class="custom-item-body">
                            <input type="range" [(ngModel)]="props.charSpacing" (change)="setCharSpacing()" step="10" min="-200" max="800">{{props.charSpacing}}</div>
                    </div>
                    <div class="custom-item" *ngIf="selected && selected.type != 'group'">
                        <div class="custom-item-title">Opacity-:</div>
                        <div class="custom-item-body">
                            <input type="range" [(ngModel)]="props.opacity" (change)="setItemOpacity()">{{props.opacity}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>